* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  color: white;
}

.nav-link {
  display: flex;
}

.nav-link a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}
