* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  color: white;
}

.nav-link {
  display: flex;
}

.nav-link a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.card-container {
  margin: 1rem 0;
  width: 80%;
}
